body {
  background: linear-gradient(to bottom right, #8A9A5B, #228B22);
  font-family: 'Poppins', sans-serif;
}    

#rights {
  font-family:Aerial;
  }

h1 {
  text-align: center;
  }

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #8A9A5B;
  padding: 10px;
  border-radius: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: rgba(255,255,255,0.2);
}

/* Mobile adjustments */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    display: block;
    width: 90%;
    text-align: center;
    margin: 5px 0;
  }
}


h2 {
  border-bottom: 5px solid #8A9A5B;
  padding-bottom: 5px;
  margin-top: 30px;
  padding: 10px, 20px;
}

button {
  background-color: #228B22;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #228B22;
}

p {
  padding: 10px, 20px;
}


